<%- include('../includes/head', { styles: styles })%>

<%- include('../includes/navigation', { linkPath: path })%>

<main class="container main">
    <form class="main__form" action="/admin/add-product" method="POST">
        <label for="input-title">Product name</label>
        <input type="text" id="input-title" name="title" autocomplete="off">
        <button type="submit">Add Product</button>
    </form>
</main>

<%- include('../includes/end') %>