<header class="header">
    <nav class="header__nav">
        <ul class="header__item-list">
            <li class="header__item">
                <a href="/" class="<%= linkPath === '/shop' && 'active' %>">Shop</a>
            </li>
            <li class="header__item">
                <a href="/admin/add-product" class="<%= linkPath === '/admin/add-product' && 'active' %>">Add Product</a>
            </li>
        </ul>
    </nav>
</header>