<header class="header">
    <nav class="header__nav">
        <ul class="header__item-list">
            <li class="header__item">
                <a href="/" class="<%= linkPath === '/users' && 'active' %>">Users</a>
            </li>
            <li class="header__item">
                <a href="/admin/add-user" class="<%= linkPath === '/admin/add-user' && 'active' %>">New User</a>
            </li>
        </ul>
    </nav>
</header>