<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<style>
    .main__title {
        color: rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
    }
</style>

<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="header__item-list">
                <li class="header__item"><a class="active" href="/">Shop</a></li>
                <li class="header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <h1 class="main__title">Products</h1>
        <p>List of all the products...</p>
    </main>
</body>

</html>