<%- include('includes/head', { styles: styles  })%>

<%- include('includes/navigation', { linkPath: path })%>

<main class="main">
    <% if (prods.length > 0) { %>
    <h1 class="main__title">Products</h1>
    <div class="main__card-list">
        <% prods.forEach(product => { %>
        <article class="main__card-item">
            <div class="main__card-image">
                <img src="/img/image-placeholder.svg" width="30%" alt="image placeholder">
            </div>
            <div class="main__card-content">
                <p class="main__card-title"><%= product.title %></p>
                <p class="main__card-description">Lorem ipsum dolor sit amet consectetur.</p>
                <p class="main__card-price">R$ 32.99</p>
                <button class="main__card-btn">Add to cart</button>
            </div>
        </article>
        <% }) %>
    </div>
    <% } else { %>
    <h1 class="main__empty-products">No Products</h1>
    <% } %>
</main>

<%- include('includes/end') %>