.main {
    display: grid;
    margin: 30px auto 0 auto;
    width: min(100% - 32px, 1080px);
}

.main__card-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    justify-items: center;
    padding: 30px;
}

.main__card-item {
    background-color: #fff;
    border-radius: 9.6px;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
}

.main__card-image {
    align-items: center;
    background-color: #b5b9c1;
    border-top-left-radius: 9.6px;
    border-top-right-radius: 9.6px;
    display: flex;
    flex: 5;
    justify-content: center;
    overflow: hidden;
}

img {
    filter: invert(.95);
}

.main__card-content {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
    justify-content: center;
    padding: 6px;
}

.main__card-title {
    color: #139ddb;
    font-size: 1.125rem;
    font-weight: 700;
    grid-column: 1 / -1;
}

.main__card-description {
    color: #989da3;
    font-size: 0.9375rem;
}

.main__card-price {
    color: #59a952;
    text-align: right;
    place-self: center end;
}

.main__card-btn {
    border: 0;
    background: #59a952;
    border-radius: 4px;
    color: #fff;
    grid-column: 1 / -1;
    padding: 10px 20px;

    &:hover {
        background: #478741;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
}

.main__not-found {
    color: rgba(0, 0, 0, 0.2);
    font-size: 4rem;
    text-transform: uppercase;
    justify-self: center;
}