extends layouts/base

block styles
    link(rel="stylesheet" href="/css/form.css")

block content
        main(class="container main")
            form(class="main__form" action="/admin/add-product" method="POST")
                label(for="input-title") Product name
                input(type="text" name="title" autocomplete="off")#input-title
                button(type="submit") Add Product
