extends layouts/base

block styles
    link(rel='stylesheet', href='/css/shop.css')
    link(rel='stylesheet', href='/css/product.css')

block content                    
    main.main
        if prods.length > 0
            h1.main__title Products
            .main__card-list
                each product in prods
                    article.main__card-item
                        .main__card-image
                            img(src='/img/image-placeholder.svg', width='30%', alt='image placeholder')
                        .main__card-content
                            p.main__card-title= product.title
                            p.main__card-description Lorem ipsum dolor sit amet consectetur.
                            p.main__card-price R$ 32.99
                            button.main__card-btn Add to cart
        else
            h1.main__not-found No Products