doctype html

html(lang="en")

head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="stylesheet" href="/css/base.css")
    link(rel="stylesheet" href="/css/header.css")

    block styles

body
    header(class="header")
        nav(class="header__nav")
            ul(class="header__item-list")
                li(class="header__item")
                    a(
                        href="/"
                        class={ active: path === '/shop' }
                    ) Shop
                li(class="header__item")
                    a(
                        href="/admin/add-product"
                        class={ active: path==='/admin/add-product' }
                    ) Add Product

    block content