<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="header__item-list">
                <li class="header__item"><a class="active" href="/">Shop</a></li>
                <li class="header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        {{#if prods}}
            <h1 class="main__title">Products</h1>
            <div class="main__card-list">
            {{#each prods}}
                <article class="main__card-item">
                    <div class="main__card-image">
                        <img src="/img/image-placeholder.svg" width="30%" alt="image placeholder">
                    </div>
                    <div class="main__card-content">
                        <p class="main__card-title">{{ this.title }}</p>
                        <p class="main__card-description">Lorem ipsum dolor sit amet consectetur.</p>
                        <p class="main__card-price">R$ 32.99</p>
                        <button class="main__card-btn">Add to cart</button>
                    </div>
                </article>
            {{/each}}
            </div>
        {{else}}
            <h1 class="main__not-found">No products</h1>
        {{/if}}
    </main>
</body>