<%- include('includes/head', { styles: styles })%>

<%- include('includes/navigation', { linkPath: path })%>

<main class="container">
    <h1 class="general-message">Checkout page</h1>
</main>

<%- include('includes/end') %>